<app-container>
  <h1>Title</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa commodi ipsa
    doloribus vitae, consequuntur veritatis velit voluptates mollitia saepe
    nihil placeat aspernatur. Odit maiores eveniet quidem molestias id inventore
    deserunt!
  </p>
</app-container>

<app-page-container>
  <app-page-title title="Hello World" />
  <app-page-body>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, eveniet
      officia ex minus inventore temporibus, expedita veritatis illo ipsa
      commodi, ipsum consectetur perspiciatis consequatur blanditiis maiores
      voluptatum cumque at sed.
    </p>
  </app-page-body>
</app-page-container>
